@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.skill-description {
  font-weight: lighter;
  color:#474242;;
}
.skill-names {
  /* font-family: "Josefin Sans", sans-serif; */
  font-weight: 550;
  color:black;
}
