@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  color: #000;
  background-color: #c1c1c1;
  font-size: 14px;
  line-height: 1.6;
}
ul li a{
  text-decoration: none;
  color: rgb(7, 33, 107);
}