.skill_description {
  font-weight: lighter;
  color: #474242;
}
.skill_names {
  font-weight: 550;
  color: black;
}
.skills {
  margin-top: -24px;
}
.skillsmain_section{
  margin-top: -10px;
}
.skill_heading{
  font-weight: 600;
}